/*  your css code here. If applicable */
.hero{
	display: ;
	justify-content: fixed ;
	align-items: ;
}
.img{
	width:430px ;
	height:250px ;
	object-fit: cover;
}
.bu{
padding:20px;
background-color: green;
color: white
border-radius: 10px;


	
}